@import url('https://fonts.cdnfonts.com/css/blanka');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,300;1,400;1,500;1,600&family=Rajdhani:wght@500;600;700&display=swap');
.makeStyles-underline-106:after {
  border-color: #7f63ea !important;
}
.heroTitle {
  font-family: 'Blanka', sans-serif;
  font-size: 90px;
  margin: 0px;
  margin-top: 10px;
}

.subtitle {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.logo_title {
  line-height: 1;
  font-size: 23px;
  font-family: 'Blanka', sans-serif;
  color: #00cfff;
}
.logo_sub_title {
  line-height: 1;
  font-size: 11px;
  /* font-weight: bold; */
  text-transform: lowercase;
  font-family: 'Montserrat Subrayada', sans-serif;
}
.container {
  margin-top: 250px;
  margin-bottom: 300px;
}
.backGround {
  background-image: url('/img/landing-bckgrd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.rotatedLeftText {
  font-family: 'Rajdhani', sans-serif;
  top: 87px;
  left: -75px;
  transform: rotate(-90deg);
  position: absolute;
}
.rotatedRightText {
  font-family: 'Rajdhani', sans-serif;
  top: 87px;
  right: -75px;
  transform: rotate(-90deg);
  position: absolute;
}
.rotateLine::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 3px;
  height: 70%;
  background-color: #5821a9;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overViewTitle {
  font-family: 'Rajdhani', sans-serif;
  font-size: 70px;
  font-weight: 700;
}

.overViewImage {
  height: 300px;
  width: 500px;
  position: relative;
}

.overViewImage:before {
  content: '';
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to bottom, transparent 0%, #fd3147 100%);
}
.overViewImage:hover:before {
  height: 100%;
}
.overViewSubImage {
  opacity: 0;

  position: absolute;
  bottom: -64px;
}

.overViewImage:hover + .overViewSubImage {
  opacity: 1;
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: 0.5s cubic-bezier(0.25, 0.03, 0, 1.02);
  -o-transition: 0.5s cubic-bezier(0.25, 0.03, 0, 1.02);
  transition: 0.5s cubic-bezier(0.25, 0.03, 0, 1.02);
}
.workTitle {
  font-family: 'Rajdhani', sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.slideImg {
  height: 450px;
  width: 400px;
}
.teamPlayerCard {
  border-radius: 5px;
  height: 350px;
  width: 350px;
  transition: all .4s ease 0s!important;
}
.teamPlayerCard:hover {
border-radius: 10px;
transform: scale(1.05)!important;
overflow: hidden!important;
}


.teamPlayerCard:before {
  content: '';
  display: block;
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to bottom, transparent 0%, #000000d4 100%);
}

.teamPlayerCard:hover:before {
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, #7f63ea 100%);
}

.teamPlayerName {
  position: absolute;
  bottom: 0%;

  color: #fd3147;
  opacity: 0;
}
.teamPlayerCard:hover + .teamPlayerName{
    opacity: 1;
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: 0.5s cubic-bezier(0.25, 0.03, 0, 1.02);
  -o-transition: 0.5s cubic-bezier(0.25, 0.03, 0, 1.02);
  transition: 0.5s cubic-bezier(0.25, 0.03, 0, 1.02);
}

@media (max-width: 991px) {
  .heroTitle {
    font-size: 60px;
  }
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .rotatedLeftText {
    left: -48px;
  }
  .rotatedRightText {
    right: -48px;
  }
  .slideImg {
    height: 400px;
    width: 350px;
  }
  
}
@media (max-width: 767px) {
  .heroTitle {
    font-size: 45px;
  }
  .overViewTitle {
    font-size: 40px;
  }
  .overViewImage {
    height: 200px;
    width: 300px;
  }
  .workTitle {
    font-size: 30px;
  }
  .rotatedLeftText {
    top: 78px;
    left: -51px;
  }
  .rotatedRightText {
    top: 100px;
    right: -51px;
  }
  .subtitle {
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
  }
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .slideImg {
    height: 400px;
    width: 350px;
  }

 
}
@media (max-width: 500px) {
  .heroTitle {
    font-size: 35px;
  }
  .slideImg {
    height: 250px;
    width: 200px;
  }
  
}
